@charset "UTF-8";

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0px; /* így teljesen hozzásímul az ablakhoz az oldal tartalma */
	background-image: url("blue_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
/* 	background-color: #e7ebf3; */
}

.navbar {
	overflow: hidden;
	background-color: #004080;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd;
	color: #004080;
}


.container {
	width: 50%;
	margin: 30px;
	padding-top: 18px;
	font-size: 20px;
}

.container a{
	text-decoration: none;
	color: #004080;
	font-size: 24px;
}

.container a:hover {
	background-color: #004080;
	color: #ffffff;
}


input[type=text], input[type=password], input[type=datetime-local] {
	margin: 20px 0px;
	display: inline-block;
	text-align: left;
	font-size: 24px;
}

input[type=submit], input[type=date], input[type=button]{
	margin: 10px 0px;
	margin-right: 10px;
	display: inline-block;
	text-align: center ;
	font-size: 20px;
	color: #ffffff;
	background-color: #004080;
}


label {
	text-align: left;
}

h1, h2{
	margin: 30px;
	color: #004080;
}

h3{
	font-size: 30px;
	color: #004080;
}

.choice{
	margin: 30px;
	font-size: 22px;
	color: #004080;
}

.index{
	font-size: 50px;
	margin: 30px;
	color: #004080;
}

table{
	border: 1px solid black;
	margin: 30px;
	font-size: 20px;
	color: #004080;
	visibility: visible;
}

.table, th{
	border: 1px solid black;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

.table, td{
	border: 1px solid black;
	background-color: #ffff80;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}
