@font-face {
  src: url('BebasNeue-Regular.ttf');
}

#login_left{
	-fx-background-color: linear-gradient(to left, #0D3A4E, #27AEEA);
}

#login_right{
	-fx-background-color: white;
}

TextField{
	-fx-background-color: #AAE2E4;
	-fx-text-fill: #FFECEB;
}

TextField:hover{
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
}

PasswordField{
	-fx-background-color: #AAE2E4;
	-fx-text-fill: #FFECEB;
}

PasswordField:hover{
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
}


Button{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0;
	-fx-background-color: #FFAAA7;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
	
}

Button:hover{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0;
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

Button:armed{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0;
	-fx-background-color: red;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

#admin_left{
	-fx-background-color: linear-gradient(to left, #0D3A4E, #27AEEA);
}

#admin_content{
	-fx-background-color: white;
}

#panel{
	
}

Button.menu{
	-fx-font-size: 24 pt;
}

Label.menu{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0 70 0 0;
	-fx-background-color: #25A3DB;
	-fx-text-fill: white;
	-fx-font-size: 28 pt;
}

#menu_btn{
	-fx-background-radius: 0;
	-fx-background-color: #FFAAA7;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

#menu_btn:hover{
	-fx-background-radius: 0;
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}






