@font-face {
  src: url('BebasNeue-Regular.ttf');
}

@font-face {
  src: url('Roboto-Regular.ttf');
}

@font-face {
  src: url('Roboto-Italic.ttf');
}

@font-face {
  src: url('Roboto-Bold.ttf');
}

@font-face {
  src: url('Roboto-BoldItalic.ttf');
}

#login_left{
	-fx-background-color: linear-gradient(to left, #0D3A4E, #27AEEA);
}

#login_right{
	-fx-background-color: white;
}

ComboBox{
	-fx-background-color: #AAE2E4;
	-fx-text-fill: #FFECEB;
	-fx-font-family: 'Roboto';
	-fx-font-size: 18 pt;
}

ComboBox:hover{
	-fx-background-color: #AAE2E4;
	-fx-text-fill: #FFECEB;
	-fx-font-family: 'Roboto';
	-fx-font-size: 18 pt;
}

TextField{
	-fx-background-color: #AAE2E4;
	-fx-text-fill: #FFECEB;
	-fx-font-family: 'Roboto';
	-fx-font-size: 18 pt;
}

TextField:hover{
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
	-fx-font-family: ''Roboto'';
	-fx-font-size: 18 pt;
}

PasswordField{
	-fx-background-color: #AAE2E4;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

PasswordField:hover{
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

Button{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0;
	-fx-background-color: #FFAAA7;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
	
}

Button:hover{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0;
	-fx-background-color: #FF564F;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

Button:armed{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0;
	-fx-background-color: red;
	-fx-text-fill: #FFECEB;
	-fx-font-size: 18 pt;
}

#admin_left{
	-fx-background-color: linear-gradient(to left, #0D3A4E, #27AEEA);
}

#admin_content{
	-fx-background-color: white;
}

.panel{
	-fx-font-family: 'Yu Gothic Light';
}

.tab{
	 
	 -fx-padding: 10 20 10 20;
	 -fx-border-width: 0;
	 -fx-background-radius: 0 20 0 20;
	 -fx-background-color: transparent;
}

.tab-pane .tab-header-background{
	-fx-background-color: #0D3A4E;
}

.tab .tab-label{
	-fx-font-family: 'Bebas Neue';
	-fx-font-size: 20 pt;
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.tab:selected .tab-label{
	-fx-text-fill: tomato;
}

.tab:hover{
	 -fx-padding: 10 20 10 20;
	 -fx-background-insets: 0;
	 -fx-background-width: 0;
	 -fx-background-radius: 5 5 0 0;
	 -fx-background-color: #27AEEA;
}

.tab:selected{
	 -fx-padding: 10 20 10 20;
	 -fx-background-radius: 5 5 0 0;
	 -fx-background-insets: 0;
	 -fx-background-width: 0;
	 -fx-background-color: white;
}

.tab:focused{
	-fx-focus-color: transparent;
}

.tab *.tag-header-background{
	-fx-background-color: transparent;
}

.tab:selected .focus-indicator{
	-fx-focus-color: transparent;
	-fx-border-color: transparent;
}

Button.menu{
	-fx-font-size: 20 pt;
	-fx-text-align: left;
	-fx-background-color: rgba(255,0,0,0.1);
}
Button.menu:hover{
	-fx-font-size: 20 pt;
	-fx-border-width: 0 0 0 20; -fx-border-color: #00B1B9;
}

Label.menu{
    -fx-font-family: 'Bebas Neue';
	-fx-background-radius: 0 70 0 0;
	-fx-text-fill: white;
	-fx-font-size: 28 pt;
	-fx-background-color: rgba(255,110,20,0.7);
}
